# Database Configuration
DATABASE_URL="postgresql://postgres:postgres123@localhost:5432/zns_leads?schema=public"
DIRECT_URL="postgresql://postgres:postgres123@localhost:5432/zns_leads?schema=public"

# Port Configuration
PORT=3000

# Token de API para autenticação Bearer
API_TOKEN=zns-secret-token-2025